.footer-wrapper{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding:40px 0;
}
.footer-wrapper li{
    color:hsl(316, 49%, 19%);
    line-height: 40px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;

}